body {
	background-color: #000;
}

html, body {
	margin: 0;
	padding: 0;
}

#screen canvas {
	margin-right: auto;
	margin-left: auto;
	
	width: 1024px;
	height: 768px;

	/* Hide the gap for font descenders. */
	display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
