body {
	background-color: #000;
}

html, body {
	margin: 0;
	padding: 0;
}

#game {
	margin-right: auto;
	margin-left: auto;
	
	width: 1024px;
	height: 768px;
	display: block;

	background-color: #555;
}
